@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/rickBackgroudSpace.png);
  font-family: "Patrick Hand", cursive;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.custom-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.custom-paragraph {
  max-width: 32rem;
}
